/* main css */

.text-white {
    color: white;
}
.text-grey{
    color: #566b8d;
}
.display-flex{
    display: flex;
}
.t-a-c{
    text-align: center;
}
.t-a-l {
    text-align: left;
}
.j-c-c{
    justify-content: center;
}
.mg-l-r-a{
    margin-left: auto;
    margin-right: auto;
}
/* 
css */

.btn-gray{
    background-color: rgba(211, 207, 207, 0.76);
}

.discord-title{
    justify-content: center;
    margin-top: 5px;
}


.nav-main{
    
}

.why-openlab{
    margin-top: 50px;
}

.why-openlab-text{
    margin-top: 10px;
}

.card1{
    margin-top: 100px;
}