/* main css */

.text-white {
    color: white;
}
.text-grey{
    color: #566b8d;
}
.t-a-c{
    text-align: center;
}
.t-a-l {
    text-align: left;
}
.j-c-c{
    justify-content: center;
}
.mg-l-r-a{
    margin-left: auto;
    margin-right: auto;
}

.m-t-100{
    margin-top: 100px;
}
/* 
css */



.btn-gray{
    background-color: rgba(211, 207, 207, 0.76);
}

.discord-title{
    justify-content: center;
    margin-top: 5px;
}


.why-openlab{
    margin-top: 50px;
}

.why-openlab-text{
    margin-top: 10px;
}

.card1{
    margin-top: 100px;
    
}

.box1{
    width: 220px;
    height: 190px;
    background-color: #5b95d757;
    border-radius: 5%;
    margin-right: 10px;
    margin-bottom: 10px;
}

.box2 {
    width: 220px;
    height: 190px;
    background-color: #5cc19a6c;
    border-radius: 5%;
}       

.box3 {
    width: 220px;
    height: 190px;
    background-color: #dbca6875;
    border-radius: 5%;
    margin-right: 10px;
    margin-bottom: 10px;
}

.box4 {
    width: 220px;
    height: 190px;
    background-color: #b95e7365;
    border-radius: 5%;
}





.card-title-can-study{
    font-size: 20px;
}



.hibridlab{
    margin-left: 500px;
}

.column-can-study{
    margin-left: 100px;
}

.column-two-schools{
    margin-top: 100px;
    margin-bottom: 50px;
}

.we-are-openlab{
    margin-top: 80px;
}

.behind-opnelab div{
    margin: 20px
}

.support-column img{
    margin-left: 80px;
}
.newsletter{
    background-color: #d7eaff;
}
.newsletter-row{
    padding-top: 20px;
}