/* main css */

.text-white {
    color: white;
}
.text-grey{
    color: #566b8d;
}
.t-a-c{
    text-align: center;
}
.t-a-l {
    text-align: left;
}
.j-c-c{
    justify-content: center;
}
.mg-l-r-a{
    margin-left: auto;
    margin-right: auto;
}

.m-t-100{
    margin-top: 100px;
}
/* 
css */



.btn-gray{
    background-color: rgba(211, 207, 207, 0.438);
}


.discord-header-button {
    font-size: 12px;
    padding: 6px 10px;
}

.nav-container{
    margin-top: 10px;
    margin-bottom: 10px;
}
.toggler-icon{
    background-image: url(./assets/navbar-toggler.mhtml);
    width: 20px;
    height: 20px;
}

.navbar-css{
    text-decoration: none;
}
.nav-text a{
    color: black;
}
.my-btn{
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 6px;
}

.h1-container{
    background-color: #3597ffe0;
    color: white;
}

.h1-col{
    margin-left: 100px;
    margin-top: 20px;
}

.why-openlab{
    margin-top: 50px;
}

.why-openlab-text{
    margin-top: 10px;
}

.card1{
    margin-top: 100px;
    
}



.box-numbers{
    text-align: right;
}




.box1{
    width: 220px;
    height: 190px;
    color: #5b94d7;
    background-color: rgba(221, 236, 251, 0.4);
    border-radius: 2%;
    margin-right: 10px;
    margin-bottom: 10px;
   
}
.box1 div{
    
    margin-right: 15px;
}

.box2 {
    width: 220px;
    height: 190px;
    background-color: rgba(156, 238, 204, 0.4);
    color: #5cc19a;
    border-radius: 2%;
}     
.box2 div {
    
    margin-right: 15px;
}

.box3 {
    width: 220px;
    height: 190px;
    background-color: rgba(238, 226, 156, 0.4);
    color: #dbca68;
    border-radius: 2%;
    margin-right: 10px;
    margin-bottom: 10px;
}
.box3 div {
    
    margin-right: 15px;
}

.box4 {
    width: 220px;
    height: 190px;
    background-color: rgba(238, 156, 156, 0.4);
    color: #b95e73;
    border-radius: 2%;
}
.box4 div {
    
    margin-right: 15px;
}





.card-title-can-study{
    font-size: 20px;
}





.column-two-schools{
    margin-top: 100px;
    margin-bottom: 50px;
}

.schools-text{
    font-size: 22px;
    margin-top: 10px;
}
.schools-link{
    text-decoration: none;
    margin: 50px;
    font-size: 20px;
}

.we-are-openlab{
    margin-top: 80px;
}
.help-text{
    text-decoration: none;
    font-size: 20px;
}

.behind-opnelab div{
    margin: 20px
}

.support-column img{
    margin-left: 80px;
}
.newsletter{
    background-color: #d7eaff;
}
.newsletter-row{
    padding-top: 20px;
}